<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" integrity="sha512-byErQdWdTqREz6DLAA9pCnLbdoGGhXfU6gm1c8bkf7F51JVmUBlayGe2A31VpXWQP+eiJ3ilTAZHCR3vmMyybA==" crossorigin="anonymous" />
    <title>SD Live 2</title>
  </head>
  <body>
    <section class="hero is-large is-info">
        <div class="hero-body">
          <p class="title">
          Live 2 - SD
          </p>
          <p class="subtitle">
           {{line}}
        </p>
        </div>
      </section>
  </body>
</html>
